@import "../../variables";

.main-container {
    margin-bottom: 70px;

    .main {
        margin: 0vw 5vw;
        position: relative;

        .successful-popup {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            padding: 20px 30px;
            background-color: rgba(20, 169, 20, 0.553);
            color: $contrast_text_color;
            border-radius: 2px;
            opacity: 1;
            transition: 0.3s;

            .check {
                @include flex-center;
                margin-right: 10px;

                .check-img {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .btn-container {
            @include flex-center;
            margin: 7vh 0vh;
            height: 11vh;

            .btn {
                border-radius: 2px;
                padding: 2.6vh 5.4vh;
                font-size: 1.8vw;
                border: none;
                background-color: $main_panels_color;
                color: $contrast_text_color;
                cursor: pointer;
                transition: 0.2s;
            }

            .btn:hover {
                padding: 2.8vh 5.8vh;
                font-size: 2vw;
            }

            .btn:active {
                padding: 2.6vh 5.4vh;
                font-size: 1.8vw;
            }
        }


        .title {
            font-size: 3vw;
            margin-bottom: 2vh;
            padding-left: 16px;
            border-bottom: 2px solid $light_text_color;
        }

        .posts {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

    }
}